@import "mixins", "variables";

//general
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f9fbff;
  font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.suptitle,
.section__title {
  text-align: center;
  color: $primaryColor;
}
.suptitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.section__title {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Montserrat";
  text-transform: uppercase;
}
//header
.header__left,
.header__center,
.header__right {
  width: 100%;
  padding-top: 75px;
}
.header__left {
  max-width: 386px;
  padding-left: 126px;
  position: relative;
}
.header__logo {
  margin: 0 auto;
}
.header__title {
  @include fontProps(5.4rem, 800, $primaryColor);
  font-family: "Montserrat";
  position: absolute;
  bottom: 64px;
  left: 130px;
  span {
    color: #f9fbff;
    background-color: $accentGold;
  }
}
.header__center {
  background: url(../img/header-bg.webp) no-repeat center center;
  background-size: cover;
  padding: 0;
  @include flexCenter;
}
.header__circle {
  @include widthHeight(54px);
  border-radius: 50%;
  background-color: $lightGray;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid $accentGold;
    left: 50%;
    top: 50%;
    transform: translate3d(-15%, -50%, 0);
  }
}
.header__right {
  background-color: $primaryColor;
  max-width: 324px;
  padding-left: 55px;
  padding-bottom: 250px;
}
.header__cart {
  margin-bottom: 118px;
  display: block;
}
.nav__title {
  @include fontProps(1.6rem, 700, $lightGray);
  margin-bottom: 30px;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__link {
  margin-bottom: 25px;
  a {
    @include fontProps(1.6rem, 300, $lightGray);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
//features
.features {
  @include paddingsTB(87px, 100px);
}
.features__item {
  margin-bottom: 30px;
  text-align: center;
}
.features__img {
  height: 135px;
  @include flexCenter;
}
.features__h3 {
  @include fontProps(2.4rem, 700, $darkGray);
}
.features__text {
  @include fontProps(1.6rem, 300, $darkGray);
}
